h2 {
  margin: 20px 0 6px 0;
  padding-left: 8px;
  display: inline-block;
}

.folder-list {
  margin: 0 !important;
  padding-top: 0 !important;
}

.folder-list .mat-list-item:not(.current):hover {
  background: rgba(195, 205, 189, 0.3);
  cursor: pointer;
}

.current {
  background: #c3cdbd;
}

.space-filler {
  flex: 1 1 auto;
}
