h2 {
  margin: 15px 0 6px 0;
  padding-left: 8px;
}

.folder-list {
  margin: 0 !important;
  padding-top: 0 !important;
}

.folder-list .mat-list-item:hover {
  background: rgba(0,0,0,0.08);
  cursor: pointer;
}

.current {
  background: rgba(0,0,0,0.2);
}

.space-filler {
  flex: 1 1 auto;
}
