.DS_Store
api/.DS_Store
api/src/.DS_Store
api/src/main/.DS_Store
api/src/main/resources/.DS_Store
api/target
api/dataset/.DS_Store
api/dataset/.DS_Store
api/dataset/non-phishing/.DS_Store
api/dataset/phishing/.DS_Store

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# MailBean
*.db