.loading-container {
  min-height: 100vh;
}

.loading {
  width: 400px;
  text-align: center;
  justify-content: center;
}

.main-container {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar {
  min-width: 200px;
  min-height: 100%;
}

.message-list {
  -webkit-box-shadow: -1px 0 1px -1px #c2c2c2;
  -moz-box-shadow: -1px 0 1px -1px #c2c2c2;
  box-shadow: -1px 0 1px -1px #c2c2c2;
  min-width: 400px;
  min-height: 100%;
  overflow-y: scroll;
}

.message {
  width: 100%;
  min-height: 100%;
}
