<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="other-container">
  <mat-card class="other-card" fxLayout="column" *ngIf="authStatus === 'complete'">
    <mat-card-title>
      You're all set!
    </mat-card-title>
    <mat-card-subtitle>
      One moment while we finish setting up..
    </mat-card-subtitle>
    <mat-card-content>
      <i class="material-icons md-48">check</i>
    </mat-card-content>
  </mat-card>

  <mat-card class="other-card" fxLayout="column" *ngIf="authStatus === 'pending'">
    <mat-card-title>
      Add an IMAP account
    </mat-card-title>
    <mat-card-subtitle>
      Enter your account credentials below. We'll try and determine any other settings automatically.
    </mat-card-subtitle>
    <mat-card-content *ngIf="step === 1">
      <form #basicDetails="ngForm" (ngSubmit)="submit()" class="basic-details-form" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
        </mat-form-field>

        <mat-form-field>
          <input type="email" matInput placeholder="Email" [(ngModel)]="email" name="email" [email]="true" required>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <div class="basic-button-container" fxLayout="row" fxLayoutGap="10px">
          <button type="button" [routerLink]="'/auth'" mat-stroked-button>Go back</button>
          <button type="submit" [disabled]="!basicDetails.form.valid" mat-raised-button [color]="'primary'">Next</button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="step === 2">
      <form #basicDetails="ngForm" (ngSubmit)="submit()" class="basic-details-form" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
        </mat-form-field>

        <mat-form-field>
          <input type="email" matInput placeholder="Email" [(ngModel)]="email" name="email" [email]="true" required>
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <div class="basic-button-container" fxLayout="row" fxLayoutGap="10px">
          <button type="button" [routerLink]="'/auth'" mat-stroked-button>Go back</button>
          <button type="submit" [disabled]="!basicDetails.form.valid" mat-raised-button [color]="'primary'">Next</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="gmail-card" fxLayout="column" *ngIf="authStatus === 'error'">
    <mat-card-title>
      Error
    </mat-card-title>
    <mat-card-subtitle>
      We were unable to connect to your account.
    </mat-card-subtitle>
    <mat-card-content>
      <button mat-stroked-button>Go back</button>
    </mat-card-content>
  </mat-card>
</div>
