@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-icons/iconfont/material-icons.css';

html, body {
  background: #c3cdbd;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-card {
  border-radius: 0 !important;
}
