.message-list-item h5 {
  font-size: 15px;
  margin: 0;
}

.message-list-item h6 {
  font-size: 14px;
  margin: 0;
}

:host ::ng-deep .message-list-item {
  max-width: 400px;
  overflow: hidden;
  box-shadow: none;
  border-bottom: rgba(0,0,0,0.1) 1px solid;
}

.message-list-item:hover {
  background: rgba(0,0,0,0.08);
  cursor: pointer;
}

.empty-folder-container {
  margin-top: 22px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
